<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(function(){
            $("#products").autocomplete({
                source: "searchProduct",
                minLenght: 2
            });
        });
    </script>
</head>
<body>
<div th:include="layout/menu :: menuFragment"></div>
<form class="container " th:action="@{/user/login}" method="post" style=" margin: 100px 50px 75px 100px;">
    <div>
        <label>Admin name:<input type="text" name="username"> </label>
    </div>
    <div>
        <label>Admin password:<input type="password" name="password"> </label>
    </div>
    <div>
     <input type="submit" value="Sing In">
    </div>
</form>

</body>
</html>